@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--background-end-rgb: 255, 255, 255;
	--font-drukFont: "font-druk", Arial, sans-serif;
	--font-gtaFont: "font-gta", Arial, sans-serif;
}

/* body {
	font: var(--font-drukFont), var(--font-gtaFont);

	background: rgb(var(--background-end-rgb));
} */
