@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--background-end-rgb: 255, 255, 255;
	--font-drukFont: "font-druk", Arial, sans-serif;
	--font-gtaFont: "font-gta", Arial, sans-serif;
}

/* body {
	font: var(--font-drukFont), var(--font-gtaFont);

	background: rgb(var(--background-end-rgb));
} */

@layer base {
	.h1 {
		@apply text-[5rem] md:text-[6rem] lg:text-[7.5rem];
	}
	.h2 {
		@apply text-[3.25rem] md:text-[3.75rem] lg:text-[5rem];
	}
	.h3 {
		@apply text-[2.25rem] md:text-[2.85rem] lg:text-[3.5rem];
	}
	.h4 {
		@apply text-[3.75rem] md:text-[4.85rem] lg:text-[6rem];
	}
	.h5 {
		@apply text-[3rem] md:text-[3.75rem] lg:text-[4.5rem];
	}
	.p {
		@apply text-[1rem] md:text-[1.25rem] lg:text-[1.50rem];
	}
	.small {
		@apply text-[0.5rem] md:text-[0.625rem] lg:text-[.75rem];
	}
}

@layer components {
	.btn-primary {
		@apply bg-[#1F1E1D] disabled:bg-[#B5B5B5] text-white font-gta font-normal py-2 px-4 rounded-full leading-normal;
	}
	.btn-alternative {
		@apply bg-white hover:bg-[#F5F5F5] active:bg-[#7048E8] focus:bg-[#7048E8] text-[#1F1E1D] active:text-white font-gta font-normal py-2 px-4 rounded-full;
	}
	.btn-secondary {
		@apply bg-[#F683AC] hover:bg-[#C696A6] focus:bg-[#C696A6] active:bg-[#C696A6] text-white font-gta font-normal py-2 px-4 rounded-full;
	}
	.btn-CTA {
		@apply bg-black text-white hover:text-[#B5B5B5] active:bg-[#212120] focus:bg-[#212120] w-full content-center font-gta font-normal py-2 rounded-full;
	}
}
